<a class="btn btn-dark"  href="/trips/new"role="button">Create a New Trip</a>
<a class="btn btn-dark"  href="/users/<%=current_user.id%>" role="button">My Trips</a> <a class="btn btn-dark"  href="/resorts" role="button">View Resorts</a> <a class="btn btn-dark" href="/logout" role="button">Log Out</a>
<hr>

<label for="trip index"><h2>Trip Index</h2></label><br>


<%@users.each do |user|%>
    <u><%=user.name.capitalize%>'s Trips</u><br><br>
            <%user.trips.order(:start_date).each do |trip|%>
                <a class="btn btn-dark"  href="/trips/<%=trip.id%>" role="button"><small><%=trip.name%>: <%=trip.start_date.strftime("%m/%d/%y")%>-<%=trip.end_date.strftime("%m/%d/%y")%></small></a><br><br>
        <%end%>
        <br><br>
<%end%>

<br><br><br>

