<a class="btn btn-dark"  href="/trips/new"role="button">Create a New Trip</a>
<a class="btn btn-dark"  href="/users/<%=@user.id%>" role="button">Return Home</a>
<hr>
<h1>Trip Index</h2>


<%@trips.order(:start_date).each do |trip|%>
    <a class="btn btn-dark"  href="/trips/<%=trip.id%>" role="button"><small><%=trip.name%>: <%=trip.start_date.strftime("%m/%d/%y")%>-<%=trip.end_date.strftime("%m/%d/%y")%></small></a><br><br>
<%end%>

<br><br><br>


