<% if flash(:message) %>
  <p style="color:coral;"><%=flash[:message]%></p>
<% end %> 
<hr>

<label for="create trips"><h2>Create a trip:</h2></label>

<form action="/trips" method="POST">
  <p><label>Name:</label> <input type="text" name="trip[name]"></p>
  <p><label>Start Date:</label> <input type="date" name="trip[start_date]"></p>
  <p><label>End Date:</label> <input type="date" name="trip[end_date]"><br>
  <i><small>A trip cannot end before it has started.</small></i></p>
  <p><label>*Select a Resort:</label><br>
          <%@resorts.each do |resort|%>
            <input type="checkbox" name="resorts[]" id="<%=resort.name%>" value="<%=resort.id%>"><%=resort.name%> - <%=resort.state.code%><br>
          <%end%>
    
     
  <p><label>*Notes:</label><br><textarea type="text" name="notes"></textarea><br><small>*not required</small></p>
  <p><input type="submit" class="btn btn-dark" value="Create Trip"></p>
  <a class="btn btn-dark"  href="/users/<%=current_user.id%>" role="button">Nevermind</a><br>
</form>

