<a class="btn btn-dark"  href="/trips" role="button">View All Trips</a> <a class="btn btn-dark"  href="/users/<%=current_user.id%>" role="button">Home</a>

<hr>
<label for="trip name"><h2>Trip: <%=@trip.name%></h2></label>

   <p>Start Date: <%=@trip.start_date.strftime("%A, %B %e, %Y")%></p>
   <p>End Date: <%=@trip.end_date.strftime("%A, %B %e, %Y")%></p>
   <p>Duration: <%=(@trip.end_date - @trip.start_date + 1).round%> Days</p>
   <p>Resort(s):<br>
      <%@resorts.each do |resort|%>
         <a href="<%=resort.url%>" target="_blank"><%=resort.name%></a><br>
      <%end%>
   <p>Notes: <%=@trip.notes%></p>
<br><br>



<%if @trip.user == current_user%>
   <a class="btn btn-dark"  href="/trips/<%=@trip.id%>/edit" role="button">Edit Trip</a>
   <br><br>
   <form method="POST" action="/trips/<%= @trip.id %>">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-dark" type="submit" value="Delete Trip">
   </form>
   <br><br><br>
<%else%>
   <%="Trip made with"%> &hearts; <%="by #{@trip.user.name}"%> 

<% end %>