<a class="btn btn-dark"  href="/trips" role="button">View All Trips</a> <a class="btn btn-dark"  href="/users/<%=current_user.id%>" role="button">Home</a>

<h1><%=@resort.name%> Resort</h1>


<p><%=@resort.city%>, <%=@resort.state%></p>


<a class="btn btn-dark"  href="<%=@resort.url%>"role="button" target="_blank">Visit Resort Website</a>



